<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
</manifest>
